html {
    font-size: 15px;
}

body {
    margin: 0;
}

.wrap {
    width: 80rem;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.wrap header {
    background-color: blueviolet;
    line-height: 3rem;
}

.wrap section::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

.wrap section aside{
    float: left;
    background-color: blue;
    line-height: 30rem;
    width: 30rem;
}
.wrap section article {
    float: left;
    line-height: 30rem;
    background-color: aquamarine;
    width: 50rem;
}

.wrap footer {
    line-height: 3rem;
    background-color: brown;
}