/*
    ? em
    * em은 단위가 입력된 요소에서 가장 가까운 font-size의 영향을 받는다.
    !(동위선상제외, 자신포함, 기본 부모)
    * 연산방식은 rem 과 동일하고 (px to em site 참고)

 */


 html,body {
    font-size: 15px;
 }

 .emLayout {
    width: 80em;
    margin: 0 auto;
    background-color: blanchedalmond;
 }

 .emLayout header {
    padding: 2em;
    margin-bottom: 0.667em;
    font-size: 10px;
 }

 .emLayout header h1{
    font-size: 2em;
    margin-bottom: 0.667em;
 }

 .emLayout header p {
    font-size: 0.75em;
    line-height: 1em;
 }

 .emLayout article,
 .emLayout article h2{
   margin-bottom: 0.667em;
 }

 .emLayout article,
 .emLayout article h2 {
    padding: 2em;
    background-color: orange;
    font-size: 10px;
 }

 .emLayout article h2 {
    font-size: 1.5em;
 }
 .emLayout article p {
    font-size: 0.75em;
    line-height: 1em;
 }

 .emLayout footer {
    padding: 2em;
    background-color: aquamarine;
    text-align: center;
 }