/* 
    * gradient (최소 두가지 이상의 색상을 자연스럽게 연결해주는 색상컬러)
    * background : linear-gradient (직선 그라디언트)
    * background : radial-gradient (원형 그라디언트)
    * ex> background : linear-gradient(blue, pink);
    * deg : 그라디언트의 각도
    * color ?% : 색상블록으로 컬러와 위치
    * http://www.colorZilla.com/gradient-editor 에서 제작 가능
 */


 .redG {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
background: #ffc578; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */

 }