body {
    margin: 0;
}

.durationEX1 { 
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition-duration: 2s;
}

.durationEX1:hover {
    width: 200px;
    height: 200px;
}

.durationEX2{
    width: 200px;
    height: 200px;
    font-size: 16px;
    background-color: orangered;
    line-height: 32px;
    padding: 30px;
    transition-duration: 2s;
}

.durationEX2:hover {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
}

.durationEX3{
    height: 23px;
    background-color: #868686;
    position: relative;
}

.durationEX3 .moveSpan{
    background-color: black;
    height: 23px;
    width: 3%;
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    transition-duration: 2s;
}

.durationEX3:hover .moveSpan{
    left: 97%;
}

.durationEX4{
    width: 50%;
    height: 300px;
    border-width: 3px;
    border-style: solid;
    border-color: red orange yellow green;
    transition-duration: 2s;
}

.durationEX4:hover {
    border-color: green skyblue blue blueviolet;
    margin: 0 25%;
}