body{
    width: 200px;
    margin: 200px auto;
}
div{
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
    animation-name: playBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes playBox{
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

div span{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

div span:first-of-type{
    background-color: red;
    transform: rotateY(0deg) translateZ(100px); 
}
div span:nth-of-type(2){
    background-color: orangered;
    transform: rotateY(90deg) translateZ(100px);
}
div span:nth-of-type(3){
    background-color: yellow;
    transform: rotateY(180deg) translateZ(100px);
}
div span:nth-of-type(4){
    background-color: green;
    transform: rotateY(270deg) translateZ(100px);
}
div span:nth-of-type(5){
    background-color: blue;
    transform: rotateX(90deg) translateZ(100px);
}
div span:last-of-type{
    background-color: blueviolet;
    transform: rotateX(270deg) translateZ(100px);
}