html, body {
    height: 100%;
}

body{
    width: 1000px;
    margin: 0 auto;
    background-color: black;
}

section{
    position: relative;
    height: 100%;
    perspective: 1500px;
}

section .moveMent {
    position: absolute;
    left: 50%;
    top: 20%;
    transform-style: preserve-3d;
    animation-name: rotater;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotater {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

section .moveMent .pic{
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    margin-left: -107px;
}

/* 
    * perspective란 translateZ의 변화를 볼수있게 해주는 원근감 속성
    * 입력되는 숫자값이 커질수록 멀리서 보는 느낌이 난다.


    * backface-visibility 뒤집어진 뒷면이 보여질지 안보여질지를 결정하는 속성
    * (visible/hidden)
 */

 section .moveMent .pic:nth-child(1){transform: rotateY(0deg)  translateZ(-370px);}
 section .moveMent .pic:nth-child(2){transform: rotateY(36deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(3){transform: rotateY(72deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(4){transform: rotateY(108deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(5){transform: rotateY(144deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(6){transform: rotateY(180deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(7){transform: rotateY(216deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(8){transform: rotateY(252deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(9){transform: rotateY(288deg) translateZ(-370px);}
 section .moveMent .pic:nth-child(10){transform: rotateY(324deg) translateZ(-370px);}

 /* 
    * 총 10열이 움직여야 함으로 초기값을 0' 부터 36' 씩 증가하여 계산한다.
    * translateZ로 깊이를 설정하는 perspective 가 활성화 되어야 유관 식별이 가능하다.
    * (translateZ- 안으로 들어간 목마, translateZ+ 밖으로 나온 목마)
  */

  section .moveMent .pic .cell{
    width: 215px;
    height: 121px;
    margin-bottom: 20px;
    transition-duration: 0.5s;
  }

  section .moveMent .pic .cell:hover{
    transform: translateZ(0px) scale(1.2);
  }

  section .moveMent .pic .cell img {
    width: 100%;
    opacity: 0.5;
  }

  section .moveMent .pic .cell:hover img{
    opacity: 1;
  }