html,
body{
    height: 100%;
}

div.wrap {
    height: 100%;
}

div.wrap {
    background-color: tomato;
}

/*
    ? color 입력값 종류
    ? 1. 컬러명칭
    ? 2. 16진법 (#000000 ~ #ffffff)
    ? 3. rgba (red ,  green , blue , 불투명도)
 */

p {
    background-color: brown;
}