html, body, div.wrap {
    height: 100%;
}

body {
    margin: 0;
}

div.wrap {
    background-image: url('../images/pt.gif');
    background-repeat: no-repeat;
}

div.wrap button {
    background-image: url('../images/pt_ex.png');
    background-repeat: repeat-x;
    border: none;
}