*{margin: 0; padding: 0;}
html, body{height: 100%;}
body > div {
    background-color: white;
    padding: 5%;
    margin-bottom: 15%;
}
body > div h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

/* * example.jpg 이 이미지를 깔아준 뒤 이미지는 한번만 나오게 깔아주기
    *  이미지의 위치는 가운데로 설정 
    * 이미지의 크기는 꽉채움으로 설정한 뒤 고정시켜주기
    * body 에 설정 
*/
body {
    background-image: url('../images/example.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    /* * background : url('../images/example.jpg') center / cover no-repeat fixed */

    /* ? background: [background-image] [background-position] / 
    ? [bacground-size] [background-repeat] [background-attachment] 
    ? [background-origin] [background-clip] [background-color] */

    /* ! position 과 size 를 동시에 쓸때와 아닐떄로 나누어서 / 를 사용 */
}