body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 30px;
    color: gray;
    position: relative;
    padding: 15px 50% 15px 0;
}

h1 a {
    position: absolute;
    right: 0;
    bottom: 0;
    color: green;
    font-size: 24px;
}

fieldset {
    position: relative;
    border-width: 2px 0 1px;
    border-style: solid none;
    border-color: green;
    padding: 10px 40% 10px 0;
}

fieldset input[type='search']{
    width: 20%;
    background-color: forestgreen;
    line-height: 24px;
    border: 1px solid forestgreen;
}

fieldset input[type='button']{
    width: 10%;
    background-color: darkolivegreen;
    color: white;
    border: 2px solid limegreen;
    line-height: 24px;
}

fieldset select {
    position: absolute;
    right: 0;
    width: 25%;
    background-color: aqua;
    padding: 5px 0;
    border-color: aquamarine;
}

h2 {
    margin: 0;
    color: #555;
    padding: 30px 0;
}

h2 strong {
    color: seagreen;
}

h2 strong:nth-of-type(2) {
    text-transform: uppercase;
}

h2 strong:not(:nth-of-type(2)){
    text-transform: capitalize;
}

ul {
    margin: 0 0 30px; padding: 0;
    list-style: none;
}

ul li:first-child{
    border-width: 3px 0 1px; 
    border-style: solid none;
    padding: 10px 0;
    border-color: darkgreen;
}

ul li:not(:first-child){
    border-bottom: 1px solid #333;
    position: relative;
}

ul li:nth-child(2n) {
    background-color: #cacaca;
}

ul li:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

ul li span {
    display: block;
    float: left;
    font-size: 14px;
    word-break: break-all;
    padding: 10px 2.5%;
}

ul li span:nth-child(2) {
    width: 35%;
}

ul li span:not(:nth-child(2)){
    width: 15%;
}

ul li mark {
    position: absolute;
    right: 0;
    top: 0;
    background-color: forestgreen;
    font-size: 9px;
}

body > div {
    width: 400px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
}

body > div a {
    text-decoration: none;
    font-size: 14px;
    display: block;
}

body > div > a{
    position: absolute;
    top: 0;
}

body > div > a:first-of-type {
    left: 0;
}

body > div > a:last-of-type {
    right: 0;
}

body > div ol {
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 0 25px;
}

body > div ol li {
    display: inline-block;
}

body > div ol li a:hover{
    color: red;
}