/* all device */

.container {
    margin: 0;
    padding: 0;
}

.row {
    overflow: hidden;
    width: 100%;
}

 

@media screen and (max-width:767px){
    /* mobile */
    [class*=span]{
        width: 100%; margin-bottom: 30px; background-color: beige;
    }
}

@media screen and (min-width:768px) and (max-width:1279px){
    /* tablit */
    [class*=span]{
        float: left;
        background-color: orange;    
    }

    .span_1 {
        width:8.3%;
    }
    
    .span_2 {
        width: 16.6%;
    }
    
    .span_3 {
        width: 25%;
    }
    
    .span_4 {
        width: 33.6%;
    }
    
    .span_6 {
        width: 50%;
    }
    
    .span_12 {
        width: 100%;
    }
}

@media screen and (min-width:1280px) and (max-width:1920px){
    /* pc */

[class*=span]{
    float: left;
    background-color: orange;    
}

.span_1 {
    width:8.3%;
}

.span_2 {
    width: 16.6%;
}

.span_3 {
    width: 25%;
}

.span_4 {
    width: 33.6%;
}

.span_6 {
    width: 50%;
}

.span_12 {
    width: 100%;
}

}




