body {
    margin: 0;
    height: 2000px;
}

.position_A {
    width: 150px;
    height: 150px;
    background-color: tomato;
    position: absolute;
    left: 300px;
    top: 300px;
}

/*
    ? position_R class box를 브라우저 기준 가운데로 배치후
    ? position_R 안에 있는 position_A2 box를 왼쪽기준 50px 상단기준 50px 떨어지게끔 배치하기
 */

.position_R {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: yellowgreen;
    position: relative;
}

.position_R .position_A2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: bisque;
    left: 50px;
    top: 50px;
}

.position_F {
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    position: fixed;
}