* {
    margin: 0; padding: 0;
}

body {
    background-color: antiquewhite;
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: skyblue;
}

header nav {
    background-color: aquamarine;
}

.wrap:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

.wrap {
    margin-bottom: 20px;
}

.wrap aside {
    width: 200px;
    background-color: brown;
}

.wrap section {
    width: 760px;
    background-color: cadetblue;
}

.wrap aside,
.wrap section {
    float: left;
    height: 800px;
}

footer {
    background-color: blueviolet;
}

/*
    * float를 이용하여 레이아웃을 설계 하는 경우, float가 들어간 부분의 밑 객체가
    * 같이 딸려오는 현상이 있는데, 이를 방지 하기 위해서는 float를 사용한 객체의 부모객체에게
    * overflow:hidden; or aftercencel를 준다.

*/